* {
    margin: 1%;
}

header{
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}

h1{
    font-size: xx-large;
}

nav {
    display: flex;
    flex-flow: row wrap;
    text-decoration: none;
    justify-content: space-around;
    border: ;
}